
body{
margin: 0;
background-color: whitesmoke;
height: 100vh;
}

.main{
  display: flex;
  justify-content: space-around;
  text-align: center;
}


.screen{
  width: 100px;
  height: 100px;
  background-color: black;
  color: white;
  
  margin-bottom: 20px;
}

/*
body {
  font-family: 'Arial', sans-serif;
  background-color: #e8f0ec;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  
}

.container {
  text-align: center;
}

.scoreboard {
  display: flex;
  background-color: #13274f;
  padding: 40px;
  border-radius: 20px;
  gap: 60px;
  justify-content: center;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

.team {
  text-align: center;
  color: white;
}

h2 {
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.score {
  background-color: black;
  color: red;
  font-size: 50px;
  font-family: 'Digital-7', sans-serif;
  padding: 20px 50px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.buttons button {
  background-color: #0a1128;
  color: white;
  border: 2px solid white;
  padding: 10px 15px;
  margin: 0 5px;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.buttons button:hover {
  background-color: #00509d;
}

#reset-btn {
  margin-top: 30px;
  padding: 10px 25px;
  background-color: #e63946;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

#reset-btn:hover {
  background-color: #c1121f;
}
 
             */
